{% extends 'index.html' %}
{% load static %}
{% block body %}

<section class="about py-5">
	<div class="container py-xl-5 py-lg-3">
		<div class="title-section mb-md-5 mb-4">
			<center>
			<h3 class="w3ls-title text-uppercase text-bl font-weight-bold" style="margin-bottom: -20px; margin-top: 20px;">About Us</h3>
			</center>
		</div>
		<hr />

		<div>
			<center>
			<img src="{% static 'images/google-poly.png' %}" alt="" class="img-fluid" width="350px" />
			</center>
			<br><br>
		</div>
		<div>
			<center>
			<h6 class="subheading-w3ls text-uppercase text-bl mb-4">Fetal abnormalities Detection- A <span style="color: #61bebc;">Explainable </span> Detection</h6>
			</center>
			<p>Exploring Explainable AI for Enhanced Detection of Fetal Anomalies in Obstetrics:
				 Prototype Development and Validation" is crucial as it integrates Explainable AI (XAI) techniques into
				  prototype development. XAI plays a pivotal role by not only predicting fetal anomalies but
				   also providing transparent and interpretable insights into the AI decision-making process. 
				   This transparency is essential in healthcare settings where clinicians need to understand and trust 
				   the AI-driven diagnostic outputs. The prototype aims to demonstrate how XAI can enhance diagnostic
				    accuracy, improve decision-making processes, 
				and ultimately contribute to better prenatal care and maternal-fetal health outcomes
				.</p>
		</div>
<div>
	
</div>

	</div>
	</div>
</section>


{% endblock %}